# -------------------------------------------------------------------------- #
# This file contains all the variables for mini klicky.                          #
#                                                                            #
# For more information, please refer to the mini klicky github below         #
# https://github.com/Alexander-T-Moss/Mini-Klicky                            #
#                                                                            #
# Version 1.0                                                                #
# -------------------------------------------------------------------------- #

# Used to version check this .cfg file
[gcode_macro _MINI_KLICKY_VARIABLES_VERSION]
variable_mini_klicky_variables_version: 1.0
gcode:



# User definable variables
[gcode_macro _USER_VARIABLES]

# Probe Dock Position
variable_dock_position_x:           -6 # X Co-ord of mini klicky dock
variable_dock_position_y:          121 # Y Co-ord of mini klicky dock

# Toolhead Pickup Offset (mm)
variable_pickup_offset_x:           20 # X offset of toolhead before/after picking up probe
variable_pickup_offset_y:            0 # Y offset of toolhead before/after picking up probe

# Toolhead Docking Offset (mm)
variable_docking_offset_x:           20 # X offset of toolhead before docking probe
variable_docking_offset_y:            0 # Y offset of toolhead before docking probe

# Docking Move (relative mm)
variable_docking_move_x:             0 # Distance to move in X when "swipping" to release probe
variable_docking_move_y:           -40 # Distance to move in Y when "swipping" to release probe

# Speed Variables (mm/s)
variable_travel_speed:             100 # Speed of travel moves
variable_pickup_speed:              30 # Speed toolhead picks probe up
variable_docking_speed:             30 # Speed toolhead moves probe into dock
variable_release_speed:             20 # Speed toolhead "swipes" to release probe in dock

# Print Bed Dimensions (mm)
variable_bed_x_max:                120 # Max bed X size, used to help prevent probing off the bed
variable_bed_y_max:                120 # Max bed Y size, used to help prevent probing off the bed

# Save Z Lower/Raise
variable_z_clearance:               20 # How much to raise toolhead/lower bed to preven probe colliding with the bed (mm)
variable_safe_z_clearance:        True # Wether or not to do a safe z move
variable_safe_z_motor_current:    0.05 # Current of motors for safe z move (makes motors skip steps easier incase of collision) (A)
variable_safe_z_speed:              20 # How fast the z move will be (mm/s)

# Debugging Variables
variable_debbuging:               True # Toggles if debugging messages are sent to the console

gcode: 