#####################################################################
# Homing overrides for sensorless
#####################################################################
[homing_override]
axes: xyz
gcode:
  {% set home_all = 'X' not in params and 'Y' not in params and 'Z' not in params %}

  {% if home_all or 'X' in params %}
    _HOME_X
  {% endif %}
  
  {% if home_all or 'Y' in params %}
    _HOME_Y
  {% endif %}
  
  {% if home_all or 'Z' in params %}

    ATTACH_PROBE
    G0 X{60 - printer.configfile.settings.probe.x_offset} Y{60 - printer.configfile.settings.probe.y_offset} F{1/3*printer.configfile.settings.printer.max_velocity*60}
    
    M117 Homing Z # Display Message
    G28 Z

    G91
    G1 Z5
    G90

    DOCK_PROBE
    CENTRE_XY
  {% endif %}
  
  M117 Homed Axis # Display Message


  

#####################################################################
# X-Axis Configuration
#####################################################################

[stepper_x]
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_endstop: 132 # Change as required
position_max: 132 # Change as required
position_min: -6
homing_speed: 40                                                     
homing_retract_dist: 0
homing_positive_dir: true

[tmc2209 stepper_x]
driver_SGTHRS: 100 # Change as required

[gcode_macro _HOME_X]
gcode:
  M117 Homing X # Display Message

  # Set current for sensorless homing
  {% set RUN_CURRENT_X = printer.configfile.settings['tmc2209 stepper_x'].run_current|float %}
  {% set RUN_CURRENT_Y = printer.configfile.settings['tmc2209 stepper_y'].run_current|float %}
  {% set HOME_CURRENT = 0.6 %}

  SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CURRENT}
  SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CURRENT}

  # Wait just a second… (give StallGuard registers time to clear)
  G4 P1500

  # Home
  G28 X

  # Move away
  G91
  G1 X-5 F1200
  G90

  # Restore current values
  SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CURRENT_X}
  SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CURRENT_Y}




#####################################################################
# Y-Axis Configuration
#####################################################################

[stepper_y]
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: 121 # Change as required
position_max: 121 # Change as required
position_min: -2 # Change as required
homing_speed: 40                                                     
homing_retract_dist: 0
homing_positive_dir: true

[tmc2209 stepper_y]
driver_SGTHRS: 85 # Change as required

[gcode_macro _HOME_Y]
gcode:
  M117 Homing Y # Display Message

  # Set current for sensorless homing
  {% set RUN_CURRENT_X = printer.configfile.settings['tmc2209 stepper_x'].run_current|float %}
  {% set RUN_CURRENT_Y = printer.configfile.settings['tmc2209 stepper_y'].run_current|float %}
  {% set HOME_CURRENT = 0.6 %}

  SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CURRENT}
  SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CURRENT}

  # Wait just a second… (give StallGuard registers time to clear)
  G4 P1500

  # Home
  G28 Y

  # Move away
  G91
  G1 Y-5 F1200
  G90

  # Restore current values
  SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CURRENT_X}
  SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CURRENT_Y}

[gcode_macro Z_TILT_ADJUST]
description: Use Z_TILT_ADJUST With Mini Klicky
rename_existing: LEVEL_BED
gcode:
  ATTACH_PROBE
  LEVEL_BED
  DOCK_PROBE
  CENTRE_XY

[gcode_macro BED_MESH_CALIBRATE]
description: Use Z_TILT_ADJUST With Mini Klicky
rename_existing: GENERATE_BED_MESH
gcode:
  ATTACH_PROBE
  GENERATE_BED_MESH
  DOCK_PROBE
  CENTRE_XY