[delayed_gcode SET_ACCEL]
initial_duration: 1
gcode:
    M204 S5000

[gcode_macro XYZ_CG28]
# Additional Required Macros: PRINTER_MESSAGE
description: Conditional G28
gcode:

    # Check if printer is homed
    {% if "xyz" not in printer.toolhead.homed_axes %} 
        PRINTER_MESSAGE MSG="CG28: Homing printer XYZ"
        STATUS_LIGHTS STATUS=homing
        G28
        STATUS_LIGHTS

    # Homes print if not already homed
    {% else %}
        PRINTER_MESSAGE MSG="CG28: Printer already homed XYZ"

    {% endif %}

[gcode_macro CG28]
description: Conditionally home printer
gcode:
    {% set axes = params.AXES|default("xyz")|string %}

    # Conditionally home X axes
    {% if "x" in axes and "x" not in printer.toolhead.homed_axes %}
        G28 X
    {% endif %}

    # Conditionally home Y axes
    {% if "y" in axes and "y" not in printer.toolhead.homed_axes %}
        G28 Y
    {% endif %}

    # Conditionally home Z axes
    {% if "z" in axes and "z" not in printer.toolhead.homed_axes %}
        G28 Z
    {% endif %}
    



[gcode_macro XY_CG28]
description: Conditional G28 X Y
gcode:

    # Check if printer is homed in XY
    {% if "xy" not in printer.toolhead.homed_axes %} 
        G28 X Y
        
    {% endif %}



[gcode_macro HOME_ALL]
gcode:
    {% set bedtemp = params.BED_TEMP|default(-1)|int %}
    CG28 AXES=xy
    ATTACH_PROBE LOCK=True
    G28 Z
    {% if bedtemp > 0 %}
        M190 S{bedtemp}
    {% endif %}
    Z_TILT_ADJUST
    G28 Z
    _FORCE_DOCK_PROBE
    CENTRE_XY



[gcode_macro CENTRE_XY]
# Required Macros: CG28
description: Move toolhead to centre of printer
gcode:

    # Set parameters & variables
    {% set hop = params.HOP|default(0)|int %}
    {% set speed = 1/3*printer.configfile.settings.printer.max_velocity %}

    # Conditionally home
    CG28 AXES=xy

    # Move toolead up
    {% if hop > 0 %}
        G91
        G0 Z{hop} F1800
        G90
    {% endif %}

    # Move toolhead to centre of printer
    G0 X60 Y60 F{speed*60}



[gcode_macro PARK_TOOLHEAD]
# Required Macros: XYZ_CG28
description: Move toolhead to park position
gcode:

    # Set variables
    {% set offset = params.OFFSET|default(5)|int %}
    {% set hop = params.HOP|default(5)|int %}
    {% set speed = 1/3*printer.configfile.settings.printer.max_velocity %}

    # Conditional homing
    CG28 AXES=xyz

    # Move toolhead up
    {% if hop > 0 %}
        G91
        G0 Z{hop}
        G90
    {% endif %}

    # Move toolhead to park position
    G0 X{printer.toolhead.axis_maximum.x - offset} Y{printer.toolhead.axis_maximum.y - offset} F{speed*60}

    

[gcode_macro ENABLE_Z_STEPPERS]
description: Enables The Z Stepper Motors
gcode:
    {% set enable = params.ENABLE|default(1)|int %}
    SET_STEPPER_ENABLE STEPPER=stepper_z ENABLE={enable}
    SET_STEPPER_ENABLE STEPPER=stepper_z1 ENABLE={enable}
    SET_STEPPER_ENABLE STEPPER=stepper_z2 ENABLE={enable}

    PRINTER_MESSAGE MSG="Z Steppers Enabled"