[gcode_macro PRINT_START]
description: Gcode ran at the start of a print
gcode:
    {% set bedtemp = params.BED|int %}
    {% set hotendtemp = params.HOTEND|int %}
    {% set relative_extruder = params.RELATIVE_E_MODE|default(false)|string %}

    {% if relative_extruder|lower == 'true' %}
      M83 # Set extruder to relative mode
    {% else %}
      M82 # Set extruder to absolute mode
    {% endif %}

    M140 S{bedtemp} # Set bed temp to slicer settings
    M104 S170 # Set hotend temp to 170C

    HOME_ALL BED_TEMP={bedtemp}
    G90
    G1 Z20 F3000
    BED_MESH_PROFILE LOAD=Default 

    # Set & wait for hotend temp
    M109 S{hotendtemp} # Set and wait for hotend temp
    M106 S0
    PRIME_LINE


   
[gcode_macro PRINT_END]
description: Gcode ran at the end of a print
gcode:
    M400                           
    G92 E0                         
    G1 E-12.0 F3600                
    G92 E0                        
    G91

    TURN_OFF_HEATERS
    M107
    PARK_TOOLHEAD

    {% set max_z = printer.configfile.config["stepper_z"]["position_max"]|float %}

    {% if printer.toolhead.position.z < (max_z) %}
        G1 Z{max_z}
    {% endif %}

    M84
    BED_MESH_CLEAR



[gcode_macro CANCEL_PRINT]
description: Cancel print procedure
rename_existing: BASE_CANCEL_PRINT
gcode:

    # Retract 12mm Of Filament
    G92 E0                         
    G1 E-12.0 F3600                
    G92 E0  

    # Lower bed 20mm if it has the space to
    {% if printer.toolhead.position.z < (max_z -20) %}
        G91
        G0 Z-20
        G90
    {% endif %}

    # Park toolhead and cancel print
    PARK_TOOLHEAD
    M104 S170
    CLEAR_PAUSE
    SDCARD_RESET_FILE
    BASE_CANCEL_PRINT



[gcode_macro PRIME_LINE]
description: Parametric Prime Line
gcode:
    # Variables
    {% set speed = 2/3*printer.configfile.settings.printer.max_velocity %}
    {% set length = params.LENGTH|default(120)|int %}
    {% set maxLength = (printer.toolhead.axis_maximum.y - printer.toolhead.axis_minimum.y) - 10 %}
    {% set padding = params.PADDING|default(1)|int %}

    # Move to start position
    G0 X{0 + padding} Y{0 + padding} Z0.4 F{speed*60}

    # Draw purge line if length entered is bigger than printer can print
    {% if maxLength < length %}
        G0 Y{printer.toolhead.axis_maximum.y - padding} F1200 E{maxLength * 0.135}
        G92 E0
        G0 X{0 + padding + 0.8} F1200
        G0 Y{0 + padding + 0.8} F1200 E{maxLength * 0.135}

    # Draw purge line if length entered can be printed by printer
    {% else %}
        G0 Y{length} F1200 E{length * 0.135}
        G92 E0
        G0 X{0 + padding + 0.8} F1200
        G0 Y{0 + padding + 0.8} F1200 E{length * 0.135}

    {% endif %}

    # Wipe nozzle after pause and raise
    G4 P1500
    G0 Y{0 + padding + 10} F{speed*60}
    G92 E0